---
import OpenButton from "../components/menu/OpenButton";

export interface Props {
  title: string;
}

const { frontmatter } = Astro.props;
const posts = await Astro.glob("../pages/supplyTools/*/*.mdx");
const subPosts = await Astro.glob("../pages/supplyTools/*/*/*.mdx");
// const posts = await Astro.glob("../pages/supplyTools/*.mdx");
// console.log(posts.length);
// console.log(posts[0].frontmatter);
// console.log(posts[1].frontmatter);
// console.log(posts[1].getHeadings());
// console.log(subPosts[0].url);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`発注点設定ツール | ${frontmatter.title}`}</title>
  </head>
  <body>
    <header>
      <a
        href="/document_for_supply_tool_by_astro/supplyTools/1_gettingStarted"
        class="flex items-center no-underline"
      >
        <div
          class="h-8 w-8 rounded-full bg-gradient-to-br from-sky-600 to-indigo-700 mr-4"
        >
        </div>発注点設定ツールマニュアル
      </a>
    </header>
    <div class="flex gap-8">
      <div class="sidebar">
        <OpenButton client:load posts={posts} subPosts={subPosts} />
      </div>
      <article>
        <slot />
        <footer
          class="text-sm mt-28 h-12 items-center text-zinc-400 text-center"
        >
          producted by Taiki Hori <br /> documented/web development/designed by Kunihiko
          Haga
          <br />all rights reserved.
        </footer>
      </article>
    </div>
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
          "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
          Meiryo, sans-serif;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      body {
        -webkit-text-size-adjust: 100%;
        @apply prose lg:prose-lg xl:prose-xl antialiased prose-zinc max-w-full;
      }

      header {
        @apply h-20 flex items-center pl-8 max-w-full sticky w-screen text-zinc-700 bg-white font-bold tracking-wider border-b-2 border-zinc-200;
      }

      a {
        @apply hover:text-blue-500 transition underline-offset-4;
      }

      aside {
        @apply mt-4;
      }

      aside a {
        @apply text-xl no-underline text-zinc-600 font-semibold tracking-wide hover:underline underline-offset-2 hover:text-blue-500 transition;
      }

      section a {
        @apply no-underline text-zinc-600 text-lg;
      }

      section li {
        @apply list-none;
      }

      article {
        @apply py-12 px-8 block shrink-0 min-h-screen max-w-xl lg:max-w-3xl xl:max-w-5xl;
      }

      h1 {
        @apply font-bold;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        @apply font-semibold text-zinc-700 text-ellipsis;
      }

      li {
        @apply text-zinc-600 antialiased prose xl:prose-xl;
      }

      strong {
        @apply font-semibold bg-blue-50 text-blue-700 px-2 py-1 rounded-lg mx-1 my-1 border-2 border-blue-100;
      }

      blockquote {
        @apply mr-8 ml-4 py-0.5 px-8 antialiased rounded-md w-fit text-zinc-700 text-lg tracking-wider font-semibold not-italic border border-zinc-200;
      }

      table {
        @apply max-w-[90%]
      }

      th {
        @apply bg-blue-50 pt-4 pl-4 text-blue-600 text-sm;
      }

      tr {
        @apply hover:bg-blue-50/60;
      }

      td {
        @apply pl-4 text-sm;
      }

      .sidebar {
        @apply bg-zinc-100 w-[300px] shrink-0 pl-8 pt-4;
      }
    </style>
  </body>
</html>
